doctype html
html
  head
    title Access to media | University of Arizona Libraries
    link(rel='stylesheet' href='styles.css')
  body
    div.wrapper
      h1 Access to media

      p
        | You cannot retrieve this material yourself, but UA faculty, staff, and students can request items and get them from the hold shelf within 24 hours. Just select the <strong>Request this Item</strong> button.
        | Sorry, media is not available to the public.
      p
        a(target='paging' href='http://new.library.arizona.edu/borrow/retrieval') More on express retrieval

      div.center
        button(onclick='self.close();' class='button') Close This Window
