doctype html
html
  head
    title Access to the Media Collection at the School of Media Arts | University of Arizona Libraries
    link(rel='stylesheet' href='styles.css')
  body
    div.wrapper
      h1 Access to the Media Collection at the School of Media Arts

      p
        | Material in this collection is not available for checkout. To get a copy,
        | #[a(href='http://azilliad.library.arizona.edu/illiad/illiad.dll?Action=10&amp;Form=21') request an interlibrary loan].

      p
        | Faculty and instructors can request titles as
        | #[a(href='https://azilliad.library.arizona.edu/illiad/illiad.dll?Action=10&amp;Form=20&amp;Value=GenericRequestStreamingVideo') streaming media]
        | for instructional use.

      div.center
        button(onclick='self.close();' class='button') Close This Window
